.navbar{
    background-color: #f4f4f4;
    height: 71px;
    width: fixed;
}
.categories{
    height: 71px;
    background-color: orange;
    color: white;
}

p {
    font-size: 0.75rem;
    margin-right: 8px;
  }
  .top {
    height: fixed;
    width: fixed;
    display: flex;
    flex-direction: row;
    margin-top: 21px;
    margin-left: 61px;
  }
  .locate {
    margin-left: 860px;
  }
  .delivery {
    margin-left: 8px;
  }
  .search-bar{
    background-color: #003F62;
    height: 100px;
    margin-top: 29px;
    width: fixed;
    color: white;
    display: flex;
  }
  .title{
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    margin-top: 22px;
    margin-left: 200px;
  }
 
  .personal{
    margin-top: 32px;
    margin-left: 385px;
    display: flex;
    gap: 10px;
  }
  
  .search {
    height: 50px;
    width: 300px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #ccc;
    padding: 0 15px; 
    margin-top: 22px;
    margin-left: 30px;
  }
  
  .submit {
    height: 50px;
    width: 100px; 
    border-radius: 0 20px 20px 0; 
    background-color: orange; 
    color: white; 
    border: none;
    cursor: pointer;
    margin-top: 22px;
  }